@{
    ViewData["Title"] = "HowManyTimesUSeeUrParents";
}

<div class="text-center">
    <h1 class="display-4">Hi !, chechk how many times u see ur Parents before they will die (more or less )</h1>
    
</div>
<div class="menu"></div>
<div class="parent countrySelect">
				<label>Where do your parents live?</label><br>
				<select id="Example" name="baby_bear" class="styled">
				  	<option value="81">United Kingdom</option>
					<option value="79">United States of America</option>
					<option>----------</option>
					<option value="60">Afghanistan</option>
					<option value="74">Albania</option>
					<option value="72">Algeria</option>
					<option value="83">Andorra</option>
					<option value="51">Angola</option>
					<option value="75">Antigua &amp; Barbuda</option>
					<option value="76">Argentina</option>
					<option value="71">Armenia</option>
					<option value="83">Australia</option>
					<option value="81">Austria</option>
					<option value="72">Azerbaijan</option>
					<option value="75">Bahamas</option>
					<option value="77">Bahrain</option>
					<option value="70">Bangladesh</option>
					<option value="78">Barbados</option>
					<option value="72">Belarus</option>
					<option value="80">Belgium</option>
					<option value="75">Belize</option>
					<option value="59">Benin</option>
					<option value="68">Bhutan</option>
					<option value="68">Bolivia</option>
					<option value="77">Bosnia &amp; Herzegovina</option>
					<option value="62">Botswana</option>
					<option value="74">Brazil</option>
					<option value="77">Brunei</option>
					<option value="74">Bulgaria</option>
					<option value="58">Burkina Faso</option>
					<option value="56">Burundi</option>
					<option value="72">Cambodia</option>
					<option value="56">Cameroon</option>
					<option value="82">Canada</option>
					<option value="72">Cape Verde</option>
					<option value="51">Central African Republic</option>
					<option value="51">Chad</option>
					<option value="80">Chile</option>
					<option value="75">China</option>
					<option value="78">Colombia</option>
					<option value="62">Comoros</option>
					<option value="59">Congo</option>
					<option value="76">Cook Islands</option>
					<option value="79">Costa Rica</option>
					<option value="53">Cote D'Ivoire</option>
					<option value="78">Croatia</option>
					<option value="79">Cuba</option>
					<option value="82">Cyprus</option>
					<option value="78">Czech Republic</option>
					<option value="80">Denmark</option>
					<option value="52">Democratic Republic of Congo</option>
					<option value="61">Djibouti</option>
					<option value="75">Dominica</option>
					<option value="77">Dominican Republic</option>
					<option value="66">East Timor</option>
					<option value="75">Ecuador</option>
					<option value="71">Egypt</option>
					<option value="72">El Salvador</option>
					<option value="55">Equatorial Guinea</option>
					<option value="63">Eritrea</option>
					<option value="77">Estonia</option>
					<option value="64">Ethiopia</option>
					<option value="69">Fiji</option>
					<option value="81">Finland</option>
					<option value="82">France</option>
					<option value="63">Gabon</option>
					<option value="61">Gambia</option>
					<option value="74">Georgia</option>
					<option value="81">Germany</option>
					<option value="62">Ghana</option>
					<option value="81">Greece</option>
					<option value="73">Grenada</option>
					<option value="72">Guatemala</option>
					<option value="58">Guinea</option>
					<option value="63">Guyana</option>
					<option value="62">Haiti</option>
					<option value="74">Honduras</option>
					<option value="75">Hungary</option>
					<option value="82">Iceland</option>
					<option value="66">India</option>
					<option value="71">Indonesia</option>
					<option value="74">Iran</option>
					<option value="70">Iraq</option>
					<option value="81">Ireland</option>
					<option value="82">Israel</option>
					<option value="83">Italy</option>
					<option value="74">Jamaica</option>
					<option value="84">Japan</option>
					<option value="74">Jordan</option>
					<option value="68">Kazakhstan</option>
					<option value="61">Kenya</option>
					<option value="66">Kiribati</option>
					<option value="78">Kuwait</option>
					<option value="69">Kyrgyzstan</option>
					<option value="66">Laos</option>
					<option value="74">Latvia</option>
					<option value="80">Lebanon</option>
					<option value="50">Lesotho</option>
					<option value="62">Liberia</option>
					<option value="75">Libya</option>
					<option value="74">Lithuania</option>
					<option value="82">Luxembourg</option>
					<option value="64">Madagascar</option>
					<option value="74">Malaysia</option>
					<option value="59">Malawi</option>
					<option value="77">Maldives</option>
					<option value="57">Mali</option>
					<option value="81">Malta</option>
					<option value="70">Marshall Islands</option>
					<option value="74">Mauritius</option>
					<option value="76">Mexico</option>
					<option value="82">Monaco</option>
					<option value="67">Mongolia</option>
					<option value="71">Morocco</option>
					<option value="53">Mozambique</option>
					<option value="66">Myanmar</option>
					<option value="67">Nambia</option>
					<option value="79">Nauru</option>
					<option value="68">Nepal</option>
					<option value="81">Netherlands (Holland, Europe)</option>
					<option value="82">New Zealand</option>
					<option value="73">Nicaragua</option>
					<option value="59">Niger</option>
					<option value="54">Nigeria</option>
					<option value="74">Niue</option>
					<option value="82">Norway</option>
					<option value="76">Oman</option>
					<option value="65">Pakistan</option>
					<option value="73">Palau Island</option>
					<option value="77">Panama</option>
					<option value="62">Papua New Guinea</option>
					<option value="75">Paraguay</option>
					<option value="77">Peru</option>
					<option value="69">Philippines</option>
					<option value="77">Poland</option>
					<option value="81">Portugal</option>
					<option value="79">Qatar</option>
					<option value="81">Republic of Korea</option>
					<option value="71">Republic of Moldova</option>
					<option value="74">Romania</option>
					<option value="69">Russia</option>
					<option value="65">Rwanda</option>
					<option value="74">St Kitts-Nevis</option>
					<option value="75">St Lucia</option>
					<option value="74">St Vincent &amp; Grenadines</option>
					<option value="73">Samoa</option>
					<option value="83">San Marino</option>
					<option value="67">Sao Tome &amp; Principe</option>
					<option value="76">Saudi Arabia</option>
					<option value="75">Serbia</option>
					<option value="64">Senegal</option>
					<option value="74">Seychelles</option>
					<option value="46">Sierra Leone</option>
					<option value="83">Singapore</option>
					<option value="76">Slovakia</option>
					<option value="80">Slovenia</option>
					<option value="69">Solomon Islands</option>
					<option value="53">Somalia</option>
					<option value="59">South Africa</option>
					<option value="82">Spain</option>
					<option value="75">Sri Lanka</option>
					<option value="62">Sudan</option>
					<option value="77">Suriname</option>
					<option value="54">Swaziland</option>
					<option value="82">Sweden</option>
					<option value="83">Switzerland</option>
					<option value="75">Syria</option>
					<option value="68">Tajikistan</option>
					<option value="75">Thailand</option>
					<option value="58">Togo</option>
					<option value="71">Tonga</option>
					<option value="70">Trinidad &amp; Tobago</option>
					<option value="76">Tunisia</option>
					<option value="75">Turkey</option>
					<option value="63">Turkmenistan</option>
					<option value="68">Tuvalu</option>
					<option value="57">Uganda</option>
					<option value="71">Ukraine</option>
					<option value="76">United Arab Emirates</option>
					<option value="81">United Kingdom</option>
					<option value="79">United States of America</option>
					<option value="77">Uruguay</option>
					<option value="69">Uzbekistan</option>
					<option value="72">Vanuatu</option>
					<option value="76">Venezuela</option>
					<option value="76">Vietnam</option>
					<option value="64">Yemen</option>
					<option value="57">Zambia</option>
					<option value="58">Zimbabwe</option>

				</select>
				</div>
				<br />
				<label>How old is your mother ?</label><br>
				<input type="text" id="motherAge" name="mAge"><br><br>
				<label>How old is your father ?</label><br>
				<input type="text" id="fatherAge" name="fAge"><br><br>
				<label>How many times u see your parents a year?</label><br>
				<input type="text" id="Averagecnt" name="aCnt"><br><br>
				<input id="cSub" name="calculate" type="submit" value="Calcute" onclick="dontnoyet()">
				<div>


				</div>